{{#if meta.title}}
<title>{{meta.title}}</title>
<meta property="og:title" content="{{meta.title}}" />
<meta property="og:site_name" content="{{meta.title}}">
{{/if}}
{{#if meta.description}}
<meta property="og:description" content="{{meta.description}}" />
{{/if}}
<meta property="og:type" content="website" />
