* {
  margin: 0;
  padding: 0;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
  }
}

button {
  cursor: pointer;
  background-color: initial;
  border: none;
}
