<div class="page">
  <div id='intro' class='section'>
    <div class='hero'>
      <div class='segment'>
        <h1>
          <span class='is-block is-tall-line'>
            <span class='highlight is-black'>
              <!-- TODO: Time-based greeting. -->
              <span class='js-greeting'>Hey</span><span class='js-greeting-punctuation'>!</span>
            </span>
          </span>
          <span class='is-block is-tall-line'>
            <span class='highlight is-black'>Mein Name ist Jonas.</span>
          </span>
        </h1>
      </div>
      <div class='segment'>
        <div class='marker is-green'>
          <h2>
            Ich helfe Studenten wie Dir bei ihrem Studium.
          </h2>
        </div>
      </div>
    </div>
    <p class='segment'>
      Die
      <span class='underline is-yellow'>Zusammenarbeit</span>
      auf persönlicher Ebene und meine
      <span class='underline is-yellow'>Leidenschaft</span>
      für Informatik gestalten dabei meinen Unterricht.
    </p>
    <div class='segment'>
      <div class='action'>
        {{#> actions/spoiler name='Erfahre mehr über mich' id='spoiler-about' }}
        {{> spoilers/about-me.hbs}}
        {{/actions/spoiler}}
      </div>
    </div>
  </div>

  <div class='slanted-shadow is-green is-falling is-4'>
    <div class='slanted-shadow__content'>
      <div id='contact' class='section'>
        <p class='segment'>
          Ich bringe Dir das nötige Wissen bei, damit Du Deine Aufgaben
          <span class='underline is-yellow'>eigenständig</span>
          lösen kannst.
        </p>
        <p class='segment'>
          <span class='highlight is-black'>
            Sehe mich als Deinen Lehrer, Mentor oder Freund!
          </span>
        </p>
        <div class='segment is-spaced'>
          <div class='action'>
            {{> actions/link
            name='Kontaktiere mich'
            href='/kontakt.html'
          }}
          </div>
          {{!-- <div class='action-note'>
          {{! <span class='asterisk-destination'>Ich beiße nicht &#x1F9DB;</span> }}
          <span class='asterisk-destination'>Ich antworte so schnell wie möglich</span>
        </div> --}}
        </div>
      </div>
    </div>
  </div>

  <div id='elements' class='section'>
    <p class='segment'>
      Ich gebe
      <span class='highlight is-inline is-black'>Nachhilfe</span>
      in allen Kursen die
      <span class='underline is-yellow'>Informatik</span>,
      <span class='underline is-yellow'>Programmierung</span>,
      <span class='underline is-yellow'>Mathematik</span> oder
      <span class='underline is-yellow'>Logik</span>
      zum Inhalt haben.
    </p>
    <p class='segment'>
      Weiterhin biete ich auch die
      <span class='highlight is-inline is-black'>Korrektur</span>
      und
      <span class='highlight is-inline is-black'>Verbesserung</span>
      Deiner Lösungen an.
    </p>
    <div class='segment'>
      <div class='action'>
        {{#> actions/spoiler name='Liste der Kurse' id='spoiler-courses' }}
        {{> spoilers/courses.hbs}}
        {{/actions/spoiler}}
      </div>
    </div>
    <p class="segment">
      Haben wir nach unserem Meeting noch Zeit,
      gebe ich gerne auch
      <span class='highlight is-inline is-black'>Beratung</span>
      zu Deinem Studium!
    </p>
  </div>

  <div class='slanted-shadow is-blue is-rising is-1'>
    <div class='slanted-shadow__content'>
      <div id='pricing' class='section'>
        <div class='segment'>
          <p>
            Der Preis ist einfach.
          </p>
          <p>
            <span class='highlight is-blue'>
              Ich nehme 18€ pro Stunde.
            </span>
          </p>
          <p>
            Keinen Cent mehr.
          </p>
        </div>
        <div class='segment'>
          <p>
            <span class='highlight is-black'>
              Wir kennen uns noch nicht?
            </span>
          </p>
          <p>
            Lerne mich in einem Gespräch kennen und quetsche mich aus!
          </p>
        </div>
        <div class='segment'>
          <!-- TODO make this a handlebars component -->
          <div class='action'>
            {{> actions/link
            name='Buche ein Meeting'
            href='/kontakt.html'
          }}
          </div>
        </div>
        <div class='segment'>
          Baue
          <span class='underline is-yellow'>Vertrauen</span>
          in mich auf, bevor du mir Geld sendest.
        </div>
        <div class='segment'>
          <div class='action'>
            {{#> actions/spoiler name='Details zum Preis' id='spoiler-pricing' }}
            {{> spoilers/pricing.hbs}}
            {{/actions/spoiler}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='tools' class='section'>
    <p class='segment'>
      Wir arbeiten an einem gemeinsamen
      <span class='underline is-yellow'>Whiteboard</span>
      und in einer geteilten
      <span class='underline is-yellow'>Entwicklungsumgebung</span>.
    </p>
    <p class='segment'>
      <span class='highlight is-black'>
        Meine Nachhilfe findet momentan nur online statt.
      </span>
    </p>
    <p class='segment'>
      So kann ich Dir
      <span class='underline is-yellow'>zu jeder Zeit</span>
      und so schnell es geht zur Seite stehen.
    </p>
    <div class='segment'>
      <div class='action'>
        {{#> actions/spoiler name='Verwendete Tools' id='spoiler-tools' }}
        {{> spoilers/tools.hbs}}
        {{/actions/spoiler}}
      </div>
    </div>
  </div>

  <div class='slanted-shadow is-green'>
    <div class='slanted-shadow__content'>
      <div id='ready' class='section'>
        <p class='segment'>
          <span class='highlight is-black'>Bist Du bereit?</span>
        </p>
        <div class='segment'>
          <p>
            <span class='underline is-yellow'>Kontaktiere mich</span>
            und teile mir mit, wobei du Hilfe benötigst.
          </p>
          <p>
            Sende mir die nötigen
            <span class='underline is-yellow'>Unterlagen</span>,
            sodass ich verstehe um welche
            <span class='underline is-yellow'>Themen</span>
            es geht.
          </p>
        </div>
        <div class='segment'>
          <div class='action'>
            {{> actions/link
            name='Zur Kontakt-Seite'
            href='/kontakt.html'
          }}
          </div>
        </div>
        <p class='segment'>
          <span class='highlight is-black'>Ich freue mich auf Dich!</span>
        </p>
      </div>
    </div>
  </div>

  <!-- TODO: FAQ? -->

  <div style='height: 300px'></div>

  {{!-- <div style='height: 100vh'></div> --}}

  <!-- ich helfe nicht während einer prüfung -->

</div>
