<p>
  Folgende Module waren bereits Bestandteil meines Unterrichts:
</p>
<ul class='course-list'>
  {{#each (sort (concat courses.obligatory courses.other_degrees))}}
  <li>
    {{> modifiers/highlight class='is-green-lighter is-slim'
      html=(nbsp_until 2 this)
    }}
  </li>
  {{/each}}
</ul>
<p>
  Falls dein Kurs nicht aufgelistet sein sollte,
  kannst du mich dennoch gerne kontaktieren
  und ich gebe dir Auskunft darüber,
  ob und inwiefern ich dir am effektivsten helfen kann.
</p>
