<p>
  Folgende Module sind oder waren Bestandteil meines Unterrichts:
</p>
<ul class='course-list'>
  {{#each (sort (concat courses.obligatory courses.other_degrees))}}
  <li>
    {{> modifiers/highlight class='is-green-lighter is-slim'
      html=(nbsp_until 2 this)
    }}
  </li>
  {{/each}}
</ul>
<p>
  Außerdem folgende Wahlpflichtfächer:
</p>
<ul class='course-list'>
  {{#each (sort courses.optional.attended)}}
  <li>
    {{> modifiers/highlight class='is-green-lighter is-slim'
      html=(nbsp_until 2 this)
    }}
  </li>
  {{/each}}
</ul>
<p>
  Falls dein Kurs nicht aufgelistet sein sollte,
  heißt dies nicht, dass ich für diesen keine Nachhilfe anbiete.
  Kontaktiere mich einfach und ich gebe dir Auskunft!
</p>
