<p>
  Den Preis für die Korrektur und Verbesserung Deiner eigenen Lösungen
  bestimme ich individuell, je nach Aufgabe und Umfang.
  Wenn ich sehe, dass es nicht viel zu korrigieren gibt,
  dann verlange ich auch entsprechend weniger.
</p>
<p>
  Gerne können wir meine Korrektur anschließend in einem Meeting besprechen!
</p>
{{> components/divider}}
<p>
  Die Zahlung findet im Voraus statt.
  Du kannst Dein Geld jederzeit zurück erhalten,
  sofern ich die gewünschte Leistung noch nicht erbracht habe.
</p>
<p>
  Falls es notwendig sein sollte,
  können wir unser Meeting gerne etwas überziehen.
  Mir ist wichtig, dass du die Inhalte richtig verstehst
  und du mit einem guten Gefühl gehst.
</p>
<p>
  Wenn wir früher fertig sind als anfangs gedacht,
  erstatte ich dir gerne das Geld für die ungenutzten Minuten zurück.
  Spreche mich am Ende des Meetings einfach darauf an.
</p>
{{> components/divider}}
<p>
  Ich biete die folgenden Zahlungsmethoden an:
</p>
<ul class='course-list'>
  {{#each payment.methods}}
  <li>
    <span class='highlight is-small is-subtle is-rounded is-padded'>
      {{{this}}}
    </span>
  </li>
  {{/each}}
</ul>
<p>
  Die Abwicklung erfolgt schnell und einfach über ein
  <a {{> attributes/external}} href='{{shared 'links.github.pay'}}'
    {{> attributes/analytics id=(concat 'link_' 'ext-github-pay')}}>eigens
    entwickeltes</a>
  Bezahlfenster.
  Du erhältst dazu einen Link, der so aussehen wird:
</p>
<p>
  <a class='highlight is-subtle is-small is-rounded is-padded is-size-small'
    href='{{payment.page.example.url_full}}' target='_blank'
    {{> attributes/analytics id=(concat 'link_' 'payment-page')}}>
    {{~payment.page.example.url~}}
  </a>
</p>
<p>
  Besuche die Seite um Dich mit ihr vertraut zu machen!
</p>
