<p>
  Du kannst das Geld für ungenutzte Minuten
  <span class='underline is-blue-light'>jederzeit zurück erhalten</span>
  oder für die Zukunft als Guthaben bei mir aufbewahren.
</p>
<p>
  Die Zahlung findet außerdem im Voraus statt.
  Du erhältst für jede deiner Zahlungen
  einen Beleg für deine Unterlagen.
</p>
{{> components/divider}}
<p>
  Ich biete die folgenden Zahlungsmethoden an:
</p>
<ul class='inline-list'>
  {{#each payment.methods}}
  <li>
    {{> modifiers/highlight class='is-blue-light is-slim'
      text=this
    }}
  </li>
  {{/each}}
</ul>
<p>
  Die Abwicklung erfolgt über ein
  {{> components/link
    id='ext-github-pay'
    name='eigens entwickeltes'
    href=(shared 'links.github.pay')
    target='_blank'
    no-track=true
  }}
  Bezahlfenster,
  in dem alle nötigen Informationen übersichtlich angezeigt werden.
</p>
<p>
  Über den folgenden Link kannst du eine Beispiel-Zahlung ansehen:
</p>
<p>
  {{~#> modifiers/highlight class='is-blue-light is-slim is-padded break-all'~}}
  {{~> components/link
    id='payment-page'
    href=payment.page.example.url
    html=payment.page.example.name_html
    target='_blank'
    no-track=false
  ~}}
  {{/modifiers/highlight}}
</p>
