<p>
  Ich akzeptiere die folgenden Zahlungsmethoden:
</p>
<ul class='inline-list'>
  {{#each payment.methods}}
  <li>
    {{> modifiers/highlight class='is-blue-light is-slim'
      text=this
    }}
  </li>
  {{/each}}
</ul>
<p>
  Die zur Überweisung notwendigen Daten findest du auf deiner Rechnung,
  die ich dir nach unserer Sitzung ausstelle.
  Du hast die Möglichkeit unkompliziert
  per mobiler Banking-App zu zahlen,
  indem du den auf der Rechnung befindlichen
  {{> components/link
    id='ext-epc-qr-code'
    href=payment.girocode_information_url
    name='Girocode'
    target='_blank'
    no-track=true
  }}
  mit der Kamera deines Smartphones scannst.
</p>
<p>
  <span class='underline is-blue-light'>Spare Kosten</span>
  indem du zusammen mit anderen Studenten bei mir Nachhilfe nimmst!
  Sag mir dazu einfach vorher Bescheid,
  damit ich weiß, mit wie vielen Personen ich rechnen muss.
</p>
<p>
  Falls du sehr viele Stunden nehmen solltest,
  können wir auch über eine individuelle Vergünstigung sprechen.
</p>
