<p>
  Mit {{> components/link
    id='tool-codetogether'
    name=tools.codetogether.name
    href=tools.codetogether.url
    target='_blank'
    no-track=true
  }} arbeiten wir gemeinsam am selben Code
  und können den Cursor des jeweils anderen sehen.
</p>
<p>
  Hierzu installierst Du die Erweiterung
  für die Entwicklungsumgebung deiner Wahl.
  Unterstützt werden alle
  {{> components/link
    id='tool-codetogether-jetbrains'
    name='JetBrains IDEs'
    href=tools.codetogether.environments.jetbrains
    target='_blank'
    no-track=true
  }}
  (z.B. IntelliJ IDEA),
  {{> components/link
    id='tool-codetogether-eclipse'
    name='Eclipse'
    href=tools.codetogether.environments.eclipse
    target='_blank'
    no-track=true
  }}
  und
  {{> components/link
    id='tool-codetogether-vscode'
    name='Visual Studio Code'
    href=tools.codetogether.environments.vscode
    target='_blank'
    no-track=true
  }}.
</p>
<p>
  Alternativ kannst Du auch Deinen Browser verwenden,
  falls Du keine zusätzliche Software installieren möchtest.
</p>
{{> components/divider}}
<p>
  Mit
  {{> components/link
    id='tool-wbo'
    name=tools.wbo.name
    href=tools.wbo.url
    target='_blank'
    no-track=true
  }}
  können wir außerdem auf einem gemeinsamen virtuellen Whiteboard zeichnen.
</p>
<p>
  Ich teile das Whiteboard anfangs per Bildschirm&shy;übertragung.
  Falls Du mitzeichnen möchtest, sende ich Dir einen Link in unserem Meeting,
  woraufhin Du die Software in deinem Browser bedienen kannst.
</p>
{{> components/divider}}
<p>
  Unser Meeting findet über
  {{> components/link
    id='tool-zoom'
    name=tools.zoom.name
    href=tools.zoom.url
    target='_blank'
    no-track=true
  }}
  statt.
</p>
