<div class="info-banner">
    <div class="info-banner__container">
        Ich gebe ab Montag, den <u>13.02.</u> bis einschließlich Dienstag, den <u>28.02.23</u>
        keinen Unterricht, bin aber für Anfragen und die Buchung
        von Terminen im März weiterhin erreichbar.
    </div>
</div>
