<div class='link'>
  <!-- TODO Add rel=noopener etc. -->
  <a href='{{href}}' class='action__button'>
    <span class='action__button__name'>{{name}}</span>
    <span class='action__button__icon'>
      <span class='icon-arrow'></span>
    </span>
  </a>
</div>
