<div class='link'>
  {{#> components/link class=(concat 'action__button ' class)}}
  <span class='action__button__name'>{{name}}</span>
  <span class='action__button__icon'>
    <span class='icon-arrow'></span>
  </span>
  {{/components/link}}
</div>
