<div class='spoiler'>
  <form action='javascript:void(0);'>
    <input id='spoiler-{{id}}' class='spoiler__checkbox' type='checkbox' />
    <label for='spoiler-{{id}}' class='action__button'
      {{> attributes/analytics id=(concat 'spoiler_' id)}}>
      <span class='action__button__name'>
        {{name}}
      </span>
      <span class='action__button__icon'>
        <span class='icon-plus'></span>
      </span>
    </label>
    <div class='action__content spoiler__content'>
      <div class='spoiler__content__container'>
        {{> @partial-block}}
      </div>
    </div>
  </form>
</div>
