<!DOCTYPE html>
<html lang='de'>

<head>
  {{> include/head}}
  {{#if index}}
  <noscript>
    {{> styles/nojs}}
  </noscript>
  {{/if}}
</head>

<body>
  {{#if index}}
  {{> static/header}}
  {{/if}}
  <div class='root'>
    {{#unless noheader}}
    {{#unless index}}
    {{> static/back}}
    {{/unless}}
    {{/unless}}
    <div class='page'>
      {{#> content-block}}
      {{/content-block}}
    </div>
    {{> static/footer}}
  </div>
  {{> include/js-data}}
  {{> include/analytics}}
</body>

</html>
