<html lang='de'>

<head>
  {{> include/head}}
</head>

<body>
  <div class='root'>
    <div class='page'>
      {{#> content-block}}
      {{/content-block}}
    </div>
    <!-- TODO create footer -->
  </div>
  {{> include/js-data}}
  {{> include/analytics}}
</body>

</html>
