<!DOCTYPE html>
<html lang='de'>

<head>
  {{> include/head}}
</head>

<body>
  <div class='root'>
    {{#if header}}
    {{> static/header}}
    {{/if}}
    <div class='page'>
      {{#> content-block}}
      {{/content-block}}
    </div>
    {{> static/footer}}
  </div>
  {{> include/js-data}}
  {{> include/analytics}}
</body>

</html>
