@import 'normalize.css';
@import './reset.scss';
@import './fonts.scss';

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: 1.4;

  font-size: 18pt;
  height: 100%;
}

.is-hidden {
  display: none !important;
}
