$color-highlight-black: black;
$color-bright-text: white;
$color-underline-yellow: rgb(255, 249, 167);
$color-footer-text: rgb(58, 58, 58);

$palette-black: #000;
$palette-blue: #0071ed;
$palette-green: #2caf5f;
$palette-yellow: $color-underline-yellow;

// $palette-blue-faint: #0072ed23;
