{{#> layouts/base back_text="Abbrechen"}}
{{#*inline 'content-block'}}

<section id="iframe-consent" class='section'>
  <h1 class='title'>
    <b>Bewertung per Google-Formular</b>
  </h1>
  <p class='segment is-size-smaller pt-4'>
    Mit dem Klick auf "Fortfahren" wird ein Google-Formular zur Bewertung geladen.
    Hierbei gilt die
    {{> components/link
      id='google-privacy'
      html='Datenschutz&shy;erklärung'
      href='https://policies.google.com/privacy'
      no-track=true
      analytics=false
    }}
    von Google
    zur Erhebung und Speicherung von Daten und dem Setzen von Cookies.
  </p>
  <div>
    <button class="button is-size-smaller">Fortfahren</button>
  </div>
  <div>
    <img id="rating-preview" src='images/rating-preview.jpg'></img>
  </div>
</section>

<section id="iframe-container" class="section is-hidden" style="margin-top:2em; height:2454px; overflow-x:hidden;">
  <iframe sandbox="allow-scripts allow-forms allow-same-origin allow-popups"
    data-src="https://docs.google.com/forms/d/e/1FAIpQLSd5MBoe8OwSF5zaO4VhmKeXSxvQS4PlIvrxPpzrMOcmjGBu3w/viewform?embedded=true"
    width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" scrolling="yes">
    Wird geladen…
    </iframe>
</section>

{{/inline}}
{{/layouts/base}}
