<nav class='navigation'>
  <div class='header'>
    <div class='header__content'>
      <div class='breadcrumb'>
        <a id='back-link' href='/'>
          <span class='breadcrumb__content'>
            <span class='icon'>
              <span class='icon-arrow is-left is-small'></span>
            </span>
            {{#if back_text includeZero=true}}
              <span class='text'>{{back_text}}</span>
            {{else}}
              <span class='text'>Zurück</span>
            {{/if}}
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
