<div class='page-footer'>
  <footer class='footer'>
    <div class='footer__content'>
      {{> components/footer-link
        id='contact'
        name='Kontakt'
        href=(shared 'links.local.contact' (env))
        analytics=false
        no-track=false
      }}
      {{> components/footer-link
        id='imprint'
        name='Impressum'
        href=(shared 'links.local.imprint' (env))
        analytics=false
        no-track=false
      }}
      {{> components/footer-link
        id='data-protection'
        name='Datenschutz'
        href=(shared 'links.local.data_protection' (env))
        analytics=false
        no-track=false
      }}
      {{> components/footer-link
        id_prefix='footer'
        id='source'
        name='Quellcode dieser Seite'
        href=(shared 'links.github.website')
        target='_blank'
        no-track=true
      }}
      {{> components/footer-link
        id='linkedin'
        name='LinkedIn'
        href=(shared 'contact.platforms.linkedin')
        target='_blank'
        no-track=true
      }}
      {{> components/footer-link
        id='github'
        name='GitHub'
        href=(shared 'contact.platforms.github')
        target='_blank'
        no-track=true
      }}
      {{#unless index}}
      {{> components/footer-link
        id='home'
        name='informatiktutor.de'
        href='https://informatiktutor.de'
        analytics=false
        no-track=false
      }}
      {{/unless}}
      <p class='is-faint' style='padding-top: 1rem'>
        Copyright &copy; 2021
        {{shared 'contact.name.second'}}
        {{shared 'contact.name.last'}}
      </p>
    </div>
  </footer>
</div>
