<div class='page-footer'>
  <footer class='footer'>
    <div class='footer__content'>
      {{> ./footer-link
        id='contact-footer'
        name='Kontakt'
        href=(shared 'links.local.contact' (env))
      }}
      {{> ./footer-link
        id='imprint'
        name='Impressum'
        href=(shared 'links.local.imprint' (env))
      }}
      {{> ./footer-link
        id='github-website'
        name='Quellcode dieser Seite'
        href=(shared 'links.github.source.website')
        target='_blank'
        no-track=true
      }}
      {{> ./footer-link
        id='github-vonas'
        name='GitHub'
        href=(shared 'links.github.profile.personal')
        target='_blank'
        no-track=true
      }}
      <p class='is-faint' style='padding-top: 1rem'>
        Copyright &copy; 2021 Jonas van den Berg
      </p>
    </div>
  </footer>
</div>
